@import "reset.css";

body {
  background: #5C07E2;
  color: #ff0000;
  box-sizing: border-box;
}
.head_1 {
  background: url('images/head_1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;
}
.sound_1 {
  background: url('images/sound_1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
  margin: -65vh 0;
  animation: hide 2s infinite;
}

@keyframes hide {
  0% {
    z-index: -1;
  }
  20% {
    z-index: 2;
  }
}
