@import "reset.css";

body {

}
div {
  margin: auto;
  height: 2700px;
  width: 1440px;
  background: url('mac.jpg');
}
.blood {
  width: 1024px;
  height: 460px;
  background: url('logo.png');
  background-size: contain;
  position: fixed;
  top: 104px;
  left: 208px;
}
